{{ define "footer" }}
    <script>
      $(document).ready(function() {
          $('table.display thead tr').clone(true).appendTo( 'table.display thead' );
          $('table.display thead tr:eq(1) th').each( function (i) {
              var title = $(this).text();
              $(this).html( '<input type="text" placeholder="Search '+title+'" />' );

              $( 'input', this ).on( 'keyup change', function () {
                  if ( table.column(i).search() !== this.value ) {
                      table
                          .column(i)
                          .search( this.value )
                          .draw();
                  }
              } );
          } );

          var table = $('table.display').DataTable({
            "searching":     false,
            "paging":        true,
            "ordering":      true,
            "info":          true,
            "orderCellsTop": true,
            "fixedHeader":   true,
            "lengthMenu":    [[30, 50, 100, -1], [30, 50, 100, "All"]]
          });
      });
    </script>
  </body>
  </html>
{{ end }}
