{{ template "header" }}

	<div id="nodeinfo">
		<table id="nodes" class="display" style="width:100%">
			<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Address</th>
				</tr>
			</thead>
			<tbody>
			{{- range $node := .nodes }}
				{{- range .Addresses }}
					<tr>
						<td>{{ $node.Name }}</td>
						<td>{{ .type }}</td>
						<td>{{ .address }}</td>
					</tr>
				{{- end }}
			{{- end }}
			<tbody>
			<tfoot>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Address</th>
				</tr>
			</tfoot>
		</table>
	</div>

{{ template "footer" }}
