<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Kubernetes Service Access Center - Service Information</title>
  <meta name="description" content="All services running on the Kubernetes cluster">
  <meta name="author" content="KC">

  <link rel="stylesheet" type="text/css" href="static/jquery.dataTables.min.css">
  <script src="static/jquery-3.5.1.min.js"></script>
  <script src="static/jquery.dataTables.min.js"></script>
</head>

<body>
	<div id="svcinfo">
		<table id="services" class="display" style="width:100%">
			<thead>
				<tr>
					<th>Name</th>
					<th>Namespace</th>
					<th>Type</th>
					<th>Protocol</th>
					<th>Service Port</th>
					<th>Node Port</th>
				</tr>
			</thead>
			<tbody>
			{{- range $svc := .services }}
					{{- range .Ports }}
						<tr>
							<td>{{ $svc.Name }}</td>
							<td>{{ $svc.Namespace }}</td>
							<td>{{ $svc.Type }}</td>
							<td>{{ .protocol }}</td>
							<td>{{ .port }}</td>
							<td>{{ .nodePort }}</td>
						</tr>
					{{- end }}
			{{- end }}
			<tbody>
		</table>
	</div>

  <script>
  	$(document).ready(function() {
        $('table.display').DataTable({
          "paging":   true,
          "ordering": true,
          "info":     true,
          "lengthMenu": [[30, 50, 100, -1], [30, 50, 100, "All"]]
        });
    });
  </script>
</body>
</html>
