{{ template "header" }}

	<div id="svcinfo">
		<table id="services" class="display" style="width:100%">
			<thead>
				<tr>
					<th>Name</th>
					<th>Namespace</th>
					<th>Type</th>
					<th>Protocol</th>
					<th>Service Port</th>
					<th>Node Port</th>
				</tr>
			</thead>
			<tbody>
			{{- range $svc := .services }}
					{{- range .Ports }}
						<tr>
							<td>{{ $svc.Name }}</td>
							<td>{{ $svc.Namespace }}</td>
							<td>{{ $svc.Type }}</td>
							<td>{{ .protocol }}</td>
							<td>{{ .port }}</td>
							<td>{{ .nodePort }}</td>
						</tr>
					{{- end }}
			{{- end }}
			<tbody>
			<tfoot>
				<tr>
					<th>Name</th>
					<th>Namespace</th>
					<th>Type</th>
					<th>Protocol</th>
					<th>Service Port</th>
					<th>Node Port</th>
				</tr>
			</tfoot>
		</table>
	</div>

{{ template "footer" }}
